<section class="cards">
    <a href="recipe.html" class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </a>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>

    <div class="cards__card">
        <img
                class="cards__card__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/45b4efeb5d2c4d29970344ae165615ab/FixedFBFinal.jpg"
                alt="Avocado Chicken Salad"
        />
        <div class="cards__card__content">
            <h3 class="cards__card__content__title">Avocado Chicken Salad</h3>
            <p class="cards__card__content__subtitle">Low-Carb Avocado Chicken Salad</p>
            <div class="cards__card__content__info">
                <span class="cards__card__content__info__tag">Bread Lovers</span>
                <span class="cards__card__content__info__time">15 mins</span>
            </div>
        </div>
    </div>
</section>
