<div class="hero__container">
    <div class="hero__header">
        <div class="hero__text">
            <h1 class="hero__text__title">
                Look for <span class="hero__text__title__emphasize">BANGER</span> Food
            </h1>
            <p class="hero__text__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus impedit officiis nesciunt mollitia nisi delectus ab id eos nam unde.
            </p>
            <div class="hero__text__input">
                <input class="hero__text__input__searchbar" type="text" placeholder="Find a recipe..." id="search-input" />
                <button class="hero__text__input__btn" id="search-button">Search</button>
            </div>
        </div>
        <img class="hero__img" src="https://hips.hearstapps.com/hmg-prod/images/how-to-make-french-toast-1589827448.jpg?crop=0.734xw:0.490xh;0.0897xw,0.323xh&resize=1200:*" alt="Delicious French toast" />
    </div>
</div>
