<section class="recipe">
    {{> recipe-header}}
    <div class="recipe__info">
        <div class="recipe__info__instructions">
            <h3 class="recipe__info__instructions__title">INSTRUCTIONS</h3>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">1</div>
                <div class="recipe__info__instructions__step__text">In a mixing bowl, beat eggs. Gradually add sugar. While beating slowly pour in oil. Add vanilla.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">2</div>
                <div class="recipe__info__instructions__step__text">Combine the dry ingredients.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">3</div>
                <div class="recipe__info__instructions__step__text">Add dry ingredients alternately with sour cream to the egg mixture.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">4</div>
                <div class="recipe__info__instructions__step__text">Gently add blueberries.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">5</div>
                <div class="recipe__info__instructions__step__text">Spoon into the greased muffin tin or paper liners.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">6</div>
                <div class="recipe__info__instructions__step__text">Bake at 400°F (200°C) for 20 minutes.</div>
            </div>

            <div class="recipe__info__instructions__step">
                <div class="recipe__info__instructions__step__number">7</div>
                <div class="recipe__info__instructions__step__text">Enjoy!</div>
            </div>
        </div>

        <img
                class="recipe__info__img"
                src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216845.jpg"
                alt="Blueberry Cream Muffins"
        />
    </div>
</section>
