<section class="recipe">
    {{> recipe-header}}
    <div class="recipe__info">
        <div class="recipe__info__instructions">
            <h3 class="recipe__info__instructions__title">INSTRUCTIONS</h3>
            {{#each instructions}}
                <div class="recipe__info__instructions__step">
                    <div class="recipe__info__instructions__step__number">{{inc @index}}</div>
                    <div class="recipe__info__instructions__step__text">{{display_text}}</div>
                </div>
            {{/each}}
        </div>
        <img class="recipe__info__img" src="{{thumbnail_url}}" alt="{{name}}"/>
    </div>
</section>
