<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tastify</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
<script id="main-template" type="text/x-handlebars-template">
    {{> layouts/navbar}}
    {{> hero}}
    {{> cards}}
  </script>
<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
