<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Details</title>
    <link rel="stylesheet" href="../public/css/main.css" />
</head>
<body>
<script id="recipe-template" type="text/x-handlebars-template">
    {{> layouts/navbar}}
    {{> recipe}}
  </script>
<div id="recipe-app"></div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/recipe.js"></script>
</body>
</html>
