.about{
  &__h1{
    display: block;
    font-size: 2em;
    margin-block-start: 2.35em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 8.3%;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  &__p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-left: 8.3%;
    margin-top: -1.45%;
  }
}